html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: space-between;
}

.text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4f4c44;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: #ece1c9;
}

.text-container__result__value{
    display: block;
}

.text-container__author-info{
    font-size: 16px;
}

.text-container__author-info__repo-link {
    text-decoration: none;
    color: #de8a66;
    display: block;
}